[submodule "janus/vim-powerline"]
	path = janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "janus/vim-jade"]
	path = janus/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
