[submodule "janus/vim-powerline"]
	path = janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "janus/vim-jade"]
	path = janus/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "janus/vim-stylus"]
	path = janus/vim-stylus
	url = https://github.com/wavded/vim-stylus
[submodule "janus/vim-less"]
	path = janus/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "janus/csapprox"]
	path = janus/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "janus/vim-jst"]
	path = janus/vim-jst
	url = https://github.com/briancollins/vim-jst
[submodule "janus/mustache"]
	path = janus/mustache
	url = git://github.com/mustache/vim-mode.git
[submodule "janus/jshint2.vim"]
	path = janus/jshint2.vim
	url = git@github.com:Shutnik/jshint2.vim.git
[submodule "janus/linediff.vim"]
	path = janus/linediff.vim
	url = git@github.com:AndrewRadev/linediff.vim.git
[submodule "janus/typescript-vim"]
	path = janus/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "janus/tabular"]
	path = janus/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "janus/vim-vue"]
	path = janus/vim-vue
	url = https://github.com/posva/vim-vue.git
