[submodule "janus/vim-powerline"]
	path = janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "janus/vim-jade"]
	path = janus/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "janus/vim-stylus"]
	path = janus/vim-stylus
	url = https://github.com/wavded/vim-stylus
[submodule "janus/vim-less"]
	path = janus/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "janus/csapprox"]
	path = janus/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "janus/vim-jst"]
	path = janus/vim-jst
	url = https://github.com/briancollins/vim-jst
